car_plate_detection_model.json
[{"id":"30ab1acf.f3c956","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5b5977ce.825be8","type":"exec","z":"30ab1acf.f3c956","command":"sudo curl -X POST \"https://api.openalpr.com/v2/recognize?secret_key=sk_9be037fa9405c484c75165ab&recognize_vehicle=1&country=in&return_image=0&topn=10\" -F image=@/home/pi/Pictures/car-photo.jpeg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":550,"y":200,"wires":[["e2056e39.cf2ff"],[],[]]},{"id":"e2056e39.cf2ff","type":"json","z":"30ab1acf.f3c956","name":"JSON","property":"payload","action":"","pretty":false,"x":696.5,"y":187.5,"wires":[["17871490.9d3e2b","c301af4b.f9074"]]},{"id":"17871490.9d3e2b","type":"debug","z":"30ab1acf.f3c956","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":848,"y":187,"wires":[]},{"id":"437edfcd.ffd49","type":"inject","z":"30ab1acf.f3c956","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":227.5,"y":201,"wires":[["b2583016.5692b"]]},{"id":"c301af4b.f9074","type":"file","z":"30ab1acf.f3c956","name":"file","filename":"/home/pi/Documents/elektronica/vehicle_info.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":790,"y":340,"wires":[[]]},{"id":"b2583016.5692b","type":"camerapi-takephoto","z":"30ab1acf.f3c956","filemode":"1","filename":"car_photo.jpeg","filedefpath":"0","filepath":"/home/pi/Music/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"","imageeffect":"none","agcwait":"","name":"Take Photo","x":384,"y":201,"wires":[["5b5977ce.825be8"]]}]